body {
    background-image: url("images/night-cloudy.jpg");                     
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* SERACH BAR */

.wrap{
    width: 30%;
    position: absolute;
    top: 3%;
    left: 5%;
}

.search {
    width: 100%;
    position: relative;
    border: 7px solid rgba(185, 179, 179, 0.37);
    border-radius: 22px;
    display: flex;
}

  
.searchBox {
    float: left;
    width: 90%;
    border: 1px;
    border-radius: 20px;
    background-color:rgba(255,255,255, 0.37);
    color: solid black;
    padding: 5px;
}

.searchBox:focus{
    color: black;
}

input[placeholder] {
    color: black;
    font-weight: bold;
    padding-left: 10%;
}

.searchButton {
    width: 9%;
    border: 2px;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0);
}

.searchButton img {
    width: 100%;
}

/* CURRENT WEATHER */

.current {
    position: absolute;
    top: 17%;
    bottom: 17%;
    left: 13%;
    width: 48%;
    background-color: rgba(49, 46, 46, 0.527);
    /* background-color: rgba(172, 158, 158, 0.2); */
    border-radius: 20px;
    color: white; 
}

.current div {
    display: inline-block;
    text-align: center;
    
}

.location {
    font-size: 30px;
}

.date {
    margin-top: -5%;
    font-size: 20px;
}

.mainTemp {
    font-size: 25px;
    padding: 10%;
}

.mainDescr {
    font-size: 20px;
    margin-top: -11%;
    margin-bottom: 10%;
}

.generalInfo {
    width: 40%;
}

.generalInfo i {
    font-size: 850%;
    padding-top: 10%;
}

.line {
    background-color: rgba(255, 255, 255, 0.185);   
    border-radius: 10px; 
    height: 80%;
    width: 1%;
    position: absolute;
    top: 10%;
    left: 40%;
}

.details {
    position: absolute;
    width: 58%; 
    left: 41%;
    padding-top: 7%;
    font-size: 20px;
}

.details div {
    display: block;
}

.details div p {
    display: inline-block;
    margin-right: 2%;
}

#windIcon {
    font-size: 175%;
}

/* HOURLY */

.hourly {
    position: absolute;
    left: 65%;
    top: 17%;
    bottom: 17%;
    text-align: center;
}

.hourly div{
    background-color: rgba(49, 46, 46, 0.527);
    border-radius: 20px;
    width: 120%;
    color: white;
    margin-bottom: 2%;
}

.hourly p {
    margin-top: 3%;
    margin-bottom: 3%;
}

.hourly p, i {
    display: inline-block;
}

.hour {
    font-size: 150%;
}

.hourly i {
    font-size: 250%;
}

.hourlyTemp {
    font-size: 20px;
}